*, *:before, *:after {
    box-sizing: border-box;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
     position: relative;
    /* overflow-y: hidden; */
}

main {
    margin-top: 3.5rem;  
    margin-bottom: 4rem;
}

#hello {
    display: flex;
    width: 100%;
    flex-direction: column;
}



