*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 3.5rem;
}

#hello {
    display: flex;
    width: 100%;
    flex-direction: column;
}



