*, *:before, *:after {
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
}

main {
    margin-top: 3.5rem;
}

#hello {
    display: flex;
    width: 100%;
    flex-direction: column;
}



